@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranYekan';
  src: url('/src/assets/fonts/yekanReg.ttf') format('ttf'),
    url('/src/assets/fonts/IRANYekan-Medium.ttf') format('ttf'),
    url('/src/assets/fonts/IRANYekan-Bold.ttf') format('ttf')
    url('/src/assets/fonts/IRANYekan-ExtraBold.ttf') format('ttf')
    url('/src/assets/fonts/IRANYekan-Black.ttf') format('ttf')
    url('/src/assets/fonts/IRANYekan-ExtraBlack.ttf') format('ttf')

}

@layer base {
  html{
    direction: rtl;
    font-family: 'IranYekan';
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}



@layer components {
  body {
   @apply bg-gray-light text-base
  }

  .btn {
   @apply disabled:opacity-50 py-2 px-5 rounded-md text-xs transition duration-200 flex items-center gap-x-3
  }

  .btn-primary{
    @apply bg-green text-white hover:bg-green-dark active:bg-green-dark
  }



}
